.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 5px;
  background-color: #e2c046;
  color: #810909;
  height: 100px;
  width: 100%;
  font-family: "Inter Tight", sans-serif;
  letter-spacing: 2.5px;
}

.logo {
  width: 200px;
  height: 200px;
  margin-left: 20px;
}
