.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0e1428;
  font-size: 30px;
  color: #c68e01;
  height: 950px;
  width: 100%;
  text-align: center;
  font-family: "Harry Potter", sans-serif;
  letter-spacing: 3px;
}
