.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #0e1428;
  color: #c68e01;
  height: 100px;
  width: 100%;
  font-family: "Harry Potter", sans-serif;
  letter-spacing: 3px;
}
