@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
}

* ::-webkit-scrollbar {
  scroll-behavior: smooth;
  background-color: #f5e6cc;
}

* ::-webkit-scrollbar-thumb {
  background-color: #c68e01;
}
