@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
}

* ::-webkit-scrollbar {
  background-color: #16213d;
  scroll-behavior: smooth;
}

* ::-webkit-scrollbar-thumb {
  background-color: #c68e01;
  height: 50px;
  border-radius: 2.5px;
}
